<div class="error-message" *ngIf="errorMessage">
    <span>{{ errorMessage | json }}</span>
    <span class="close-btn" (click)="clearErrorMessage()">Close</span>
</div>
<form [formGroup]="form">
  <div class="container">
      <div class="mb-3">
          <label for="exampleInputFirstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="exampleInputFirstName" formControlName="firstName">
          <div class="err" *ngIf="form.get('firstName')?.errors?.['required'] && form.get('firstName')?.touched">First name is required</div>
          <div class="err" *ngIf="form.get('firstName')?.errors?.['required'] && form.get('firstName')?.touched">Numeric and other special symbols are not allowed</div>

          <label for="exampleInputLastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="exampleInputLastName" formControlName="lastName">
          <div class="err" *ngIf="form.get('lastName')?.errors?.['required'] && form.get('lastName')?.touched">Last name is required</div>
          <div class="err" *ngIf="form.get('lastName')?.errors?.['required'] && form.get('lastName')?.touched">Numeric and other special symbols are not allowed</div>

          <label for="exampleInputProfession" class="form-label">Profession</label>
          <input type="text" class="form-control" id="exampleInputProfession" formControlName="profession">
          <div class="err" *ngIf="form.get('profession')?.errors?.['required'] && form.get('profession')?.touched">Profession is required</div>
          <div class="err" *ngIf="form.get('profession')?.errors?.['required'] && form.get('profession')?.touched">Numeric and other special symbols are not allowed</div>

          <label for="exampleInputImage" class="form-label">Image Url</label>
          <input type="text" class="form-control" id="exampleInputImage" formControlName="image">
          <div class="err" *ngIf="form.get('image')?.errors?.['required'] && form.get('image')?.touched">Image link is required</div>
          <div class="err" *ngIf="form.get('image')?.errors?.['required'] && form.get('image')?.touched">The image url must start with http:// or https://</div>

          <label for="exampleInputgender" class="form-label">Gender</label>
          <select class="form-select" id="inputGroupSelect01" formControlName="gender">
              <option *ngIf="!selectedGender" [style]="{display: 'none'}" selected>Please select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>

          <div class="row">
              <div class="form-group col-sm-4">
                  <label for="day">Day</label>
                  <input type="number" id="day" class="form-control form-control-sm" formControlName="day" min="1" max="31">
              </div>
              <div class="form-group col-sm-4">
                  <label for="month">Month</label>
                  <input type="number" id="month" class="form-control form-control-sm" formControlName="month" min="1" max="12">
              </div>
              <div class="form-group col-sm-4">
                  <label for="year">Year</label>
                  <input type="number" id="year" class="form-control form-control-sm" formControlName="year" min="1900" max="2024">
              </div>
          </div>
      </div>
      <button type="button" (click)="openPopup()" class="btn btn-primary">Submit</button>
  </div>
</form>
