<div class="container">
<div class="card" *ngFor="let user of users">
    <img src={{user.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Profession: {{user.profession}}</li>
      <li class="list-group-item">Genre: {{user.gender}}</li>
      <li class="list-group-item">Age: {{user.age}}</li>
      <li class="list-group-item">Birth: {{user.day}}/{{user.month}}/{{user.year}}</li>
    </ul>
    <div class="card-body">
      <a routerLink="/edit/{{user.id}}" class="btn btn-primary">Edit</a>
      <a routerLink="/" (click)="onDelete(user.id)" class="btn btn-primary">Delete</a>
    </div>
  </div>
</div>