<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Name</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Profession</li>
      <li class="list-group-item">Genre</li>
      <li class="list-group-item">Age</li>
      <li class="list-group-item">Day of birth</li>
    </ul>
    <div class="card-body">
      <a routerLink="/edit/:userId" class="btn btn-primary">Edit</a>
      <a href="#" class="btn btn-primary">Delete</a>
    </div>
  </div>